<h2>Show article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @article.content %>
  </li>

  <li>
    <strong>Source:</strong>
    <%= @article.source %>
  </li>

  <li>
    <strong>Toc:</strong>
    <%= @article.toc %>
  </li>

</ul>

<%= link "Edit", to: article_path(@conn, :edit, @article) %>
<%= link "Back", to: article_path(@conn, :index) %>
